.Bgphoto {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;

  /* IMPORTANT: allow particles to show */
  background-color: transparent;
}
